# Create an application to obtain credentials at
# https://developer.paypal.com/dashboard/applications/sandbox

PAYPAL_CLIENT_ID=YOUR_CLIENT_ID_GOES_HERE
PAYPAL_CLIENT_SECRET=YOUR_SECRET_GOES_HERE
PAYPAL_CUSTOMER_ID=YOUR_CUSTOMER_ID_GOES_HERE
PAYPAL_PURCHASE_AMOUNT=YOUR_PURCHASE_AMOUNT_GOES_HERE
PAYPAL_PURCHASE_CURRENCY=YOUR_PURCHASE_CURRENCY_GOES_HERE
